body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.menu{
  background-color: #0A2640;
  padding-bottom: 100px;
}
.chrono{
  background-color: #0A2640;
  color: white;
}
.centere{
  justify-content: center;
  position: absolute;
  /* top: 300;px;  */
 }
 @media (min-width: 892px) and (min-width: 896px){
  .centere{ 
    text-align: center;
 }
}
@media (min-width: 992px){
  .centere{ 
    text-align: center;
 }
}
@media (min-width: 800px){
  .centere{ 
    text-align: center;
 }
}
@media (min-width: 768px){
  .centere{ 
    text-align: center;
 }
}
 @media (min-width: 1400px) and (max-width: 1400px){
  .centere{ 
    text-align: center;
    position: absolute;
     top: 350px
 }
} ;
.fund{
  font-size: 50px
 }
.textes{
  font-size: 100px;
}
.just{
  justify-content: center;
}
.image{
  width: 500px;
};
.chrono{
  background-color: #0A2640;
  color: white;
};
.valu{
  background-color: #0A2640;
  color: white;
}
.store{
  align-items: flex-start;
}
.texte{
  justify-content: right;
}
.chr{
  color: #4FE9A4;
}
.teame{
  justify-content: center;
}
.website{
  background-color: #0A2640;
  color: white;
 }
 .centre{
  justify-content: center;
 }
 .btn{
background-color: #65E4A3;
                  }
                  .logo{
                    color: black;
                  }
                  .active{
                    color: red;
                  }
                  .bar{
                    background-color: #0A2640;
                  };